<div class="container-fluid">
  <center>
    <h3>Consumed foods</h3>
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>Time</th>
          <th>Food</th>
          <th>Calories</th>
          <th>Carbs</th>
          <th>Proteins</th>
          <th>Sugars</th>
          <th>Fats</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Sunday</td>
          <td>Hot Dog</td>
          <td>1000</td>
          <td>5g</td>
          <td>20g</td>
        </tr>
        <tr>
          <td>Saturday</td>
          <td>Hamburger</td>
          <td>1400</td>
          <td>2g</td>
          <td>25g</td>
        </tr>
        <tr>
          <td>Saturday</td>
          <td>Tzazitki Sauce</td>
          <td>300</td>
          <td>38g</td>
          <td>25g</td>
        </tr>
      </tbody>
    </table>
  </center>
</div>