<form class="form-horizontal">
  <fieldset>
    <h2 style="padding:0px 0px 0px 140px">Please log in</h2><br>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputEmail" placeholder="Email">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Password</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <a href="#/home" class="btn btn-default">Login</a>
        <a href="#/home" class="btn btn-primary">Register</a>
      </div>
    </div>
  </fieldset>
</form>