<div class="container-fluid">
	<div ng-controller='ProfileCtrl'>
<a href="#" editable-text="user.age" class="list-group-item" data-ytta-id="-">Age: {{ user.age || "empty" }}</a>
<a href="#" editable-text="user.weight" class="list-group-item" data-ytta-id="-">Weight: {{ user.weight || "empty" }}</a>
<a href="#" editable-text="user.gender" class="list-group-item" data-ytta-id="-">Gender: {{ user.gender || "empty" }}</a>
<a href="#" editable-text="user.height" class="list-group-item" data-ytta-id="-">Height: {{ user.height || "empty" }}</a>
  	<a href="#" editable-text="user.name" class="list-group-item" data-ytta-id="-">Name: {{ user.name || "empty" }}</a>
  	<a href="#" editable-text="user.email" class="list-group-item" data-ytta-id="-">Email: {{ user.email || "empty" }}</a>
	</div>
</div>